<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="directoryPath" value="D:\\TempFiles" />
    <add key="serviceName" value="InputWinService" />
    <add key="displayName" value="InputWinService" />
    <add key="description" value="input Windows Service" />
    <add key="messageQueueName" value=".\Private$\CentralMessageQueue" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="processedImagesFolderPath" value="Processed Images" />
    <add key="incorrectImagesFolderPath" value="Incorrect Images" />
    <add key="generatedPDFFolderPath" value="Generated PDFs" />
  </appSettings>
</configuration>