<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="directoryPath" value="D:\\TempFiles" />
    <add key="serviceName" value="MergeWinService" />
    <add key="displayName" value="MergeWinService" />
    <add key="description" value="Merge Windows Service" />
    <add key="pattern" value="(.*)_(\d{3})\.(.*)" />
    <add key="prefix" value="img" />
    <add key="fileExtensions" value=".jpg .png" />
    <add key="generatedPDFFolderPath" value="Generated PDFs" />
    <add key="processedImagesFolderPath" value="Processed Images" />
    <add key="incorrectImagesFolderPath" value="Incorrect Images" />
    <add key="pdfFileName" value="pdf_file" />
    <add key="timeInterval" value="1" />
  </appSettings>
</configuration>